* {
    padding: 0;
    margin: 0;
}

body{
    background-color:#edede9;
}

header{
    background-color:#ffdab9;
    display: flex;
    justify-content: center;
    height: 150px;
    margin-top: -5px;

}
.titulo{
    color:#ff70a6;
    margin-top: 30px;
}
.subtitulo{
    color: #f72585;
    margin-top: 30px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#fcd5ce;
    height: 100px;
    margin-top: -22px
}
nav li {
    list-style-type: none;
    
    display: inline;
    margin-top: 40px;

}
 nav a {
    text-decoration: none;
    color: #ff70a6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
 }

 footer{
    background-color: #fcd5ce;
    margin-top: 250px;
    height: 50px;
    padding: 50px;
    padding-left: 450px;
    padding-bottom: 50px;

 }
 
.redes {
    display: flex;
    flex-direction: row;
    justify-content:start;
    gap: 20px;
}

#items{
    gap: 15px;

}

#catalogoRelojes {
    display: flex;
    gap: 15px;
}


.imagenReloj {
    width: 100px;
    height: 100px;
}

#botonCompra {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border-color:#ccd5ae;
    
}
/*Tamaño de las imagenes de las cards*/
.img-fluid {
    width: 200px;
    height: 150px;

}
/*Tamaño de la imagen cuando compran*/
.imagenCompra {
    width:100px;
    height: 100px;
}

.btn {
    background-color: #f7d6e0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:#323031;
}




.card {
    margin-top: 25px;
    margin-left: 20px;
    background-color:#e2fdff;
    border-radius: 15px;
}

.list-group-item {
    background-color:#e2fdff;

}